<a href="https://colab.research.google.com/github/ShirsSosa/The_Paradox_of_Female_Education/blob/main/01_Data_Cleaning_and_Preparation_DataSet_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

# This line starts the authorization process.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
file_path = '/content/drive/MyDrive/DV-tech/LAC_Socioeconomic_Data.xlsx'

try:
    df = pd.read_excel(file_path)
    print("Success!")
    print(df.head())
except FileNotFoundError:
    print(f"Error")
except Exception as e:
    print(f"unexpected error: {e}")

Success!
     Country  Year  GDP_per_capita  Female_Labor_Participation  \
0  Argentina  1995     9367.182020                   63.780880
1  Argentina  1996     9838.496079                   62.315155
2  Argentina  1997    11268.125610                   63.818546
3  Argentina  1998     9495.256081                   63.110653
4  Argentina  1999    10402.671200                   64.062310

   Male_Labor_Participation  Female_Unemployment  Male_Unemployment  \
0                 80.975081            11.788798          11.727045
1                 81.176480             7.203521           5.367962
2                 80.928034             5.875765           5.680611
3                 80.842842             9.446946           9.343780
4                 80.588643             6.984839           4.498627

   Female_Secondary_Education  Male_Secondary_Education  \
0                   88.495493                 80.171066
1                   46.974693                 44.053247
2                   87.444277                 77.787957
3                   85.466020                 82.878220
4                   57.837666                 55.028321

   Female_Tertiary_Education  Male_Tertiary_Education  Female_Literacy  \
0                  20.616956                16.980456        79.401708
1                  28.318092                19.196692        93.844223
2                  50.419867                44.327592        77.344131
3                  43.126114                36.891893        87.481633
4                  37.134804                34.316320        94.252728

   Male_Literacy
0      78.618677
1      92.642918
2      78.081063
3      87.668474
4      92.550930

In [5]:
# --- STEP 1: Selecting essential data ---
# Select only the essential columns for gender gap analysis
essential_columns = [
    'Country',
    'Year',
    'GDP_per_capita',
    'Female_Labor_Participation',
    'Male_Labor_Participation',
    'Female_Tertiary_Education',
    'Male_Tertiary_Education'
]
# Create a new DataFrame that contains ONLY those columns
# Use .copy() to prevent issues with original dataset
try:
    project_df = df[essential_columns].copy()
    print("Success! Essential columns selected.")

    # Verify the result
    print("\nShape of the new DataFrame (rows, columns):", project_df.shape)
    print(f"Year range: {project_df['Year'].min()} - {project_df['Year'].max()}")
    print(f"Countries: {project_df['Country'].nunique()}")
    print("\nFirst 2 rows of the new DataFrame:")
    print(project_df.head(2))

except KeyError as e:
    print(f"Error! A column was not found: {e}")
    print("Check if the column names are correct.")

Success! Essential columns selected.

Shape of the new DataFrame (rows, columns): (660, 7)
Year range: 1995 - 2024
Countries: 22

First 2 rows of the new DataFrame:
     Country  Year  GDP_per_capita  Female_Labor_Participation  \
0  Argentina  1995     9367.182020                   63.780880
1  Argentina  1996     9838.496079                   62.315155

   Male_Labor_Participation  Female_Tertiary_Education  \
0                 80.975081                  20.616956
1                 81.176480                  28.318092

   Male_Tertiary_Education
0                16.980456
1                19.196692

In [6]:
# --- STEP 2: Clean & check data ---

# Check for null values and zeros in our essential dataset
print("=== DATA QUALITY ANALYSIS ===")

# 1. Check null values per column
print("\n1. NULL VALUES PER COLUMN:")
null_summary = project_df.isnull().sum()
print(null_summary)

# 2. Check percentage of null values
print("\n2. NULL VALUES PERCENTAGE:")
null_percentage = (project_df.isnull().sum() / len(project_df)) * 100
print(null_percentage.round(2))

# 3. Check zeros in numerical columns (could indicate missing data)
print("\n3. ZERO VALUES IN NUMERICAL COLUMNS:")
numerical_cols = ['GDP_per_capita', 'Female_Labor_Participation', 'Male_Labor_Participation',
                  'Female_Tertiary_Education', 'Male_Tertiary_Education']
zero_counts = (project_df[numerical_cols] == 0).sum()
print(zero_counts)

# 4. Basic statistics to identify outliers or impossible values
print("\n4. BASIC STATISTICS:")
print(project_df[numerical_cols].describe())

# 5. Check year range and country count
print(f"\n5. TEMPORAL COVERAGE:")
print(f"Years: {project_df['Year'].min()} to {project_df['Year'].max()}")
print(f"Unique countries: {project_df['Country'].nunique()}")

=== DATA QUALITY ANALYSIS ===

1. NULL VALUES PER COLUMN:
Country                       0
Year                          0
GDP_per_capita                0
Female_Labor_Participation    0
Male_Labor_Participation      0
Female_Tertiary_Education     0
Male_Tertiary_Education       0
dtype: int64

2. NULL VALUES PERCENTAGE:
Country                       0.0
Year                          0.0
GDP_per_capita                0.0
Female_Labor_Participation    0.0
Male_Labor_Participation      0.0
Female_Tertiary_Education     0.0
Male_Tertiary_Education       0.0
dtype: float64

3. ZERO VALUES IN NUMERICAL COLUMNS:
GDP_per_capita                0
Female_Labor_Participation    0
Male_Labor_Participation      0
Female_Tertiary_Education     0
Male_Tertiary_Education       0
dtype: int64

4. BASIC STATISTICS:
       GDP_per_capita  Female_Labor_Participation  Male_Labor_Participation  \
count      660.000000                  660.000000                660.000000
mean     18429.817137                   53.348625                 68.850284
std      16965.255081                    9.035663                  9.450690
min        784.269687                   36.824229                 50.000000
25%       8890.678714                   46.718796                 62.976557
50%      14186.098650                   54.305174                 67.864214
75%      21656.449282                   61.508050                 77.029688
max     148549.536098                   65.639868                 84.252957

       Female_Tertiary_Education  Male_Tertiary_Education
count                 660.000000               660.000000
mean                   34.374660                24.365594
std                    14.231739                15.204704
min                    10.099607                -8.860751
25%                    22.101964                12.514322
50%                    34.250527                24.109809
75%                    46.492933                36.839493
max                    59.977885                57.403421

5. TEMPORAL COVERAGE:
Years: 1995 to 2024
Unique countries: 22

In [7]:
# --- STEP 3: Check data types value ---


# Check data types of each column
print("=== DATA TYPES VERIFICATION ===")
print(project_df.dtypes)

# Check unique values in Country to ensure they're strings
print("\n=== COUNTRY DATA TYPE ===")
print(f"Country dtype: {project_df['Country'].dtype}")
print(f"Sample countries: {project_df['Country'].unique()[:10]}")  # First 10 unique countries

# Check if Year is integer
print(f"\n=== YEAR DATA TYPE ===")
print(f"Year dtype: {project_df['Year'].dtype}")
print(f"Year sample values: {sorted(project_df['Year'].unique())[:5]}")  # First 5 years

# Verify numerical columns are actually numerical
print(f"\n=== NUMERICAL COLUMNS VERIFICATION ===")
numerical_cols = ['GDP_per_capita', 'Female_Labor_Participation', 'Male_Labor_Participation',
                  'Female_Tertiary_Education', 'Male_Tertiary_Education']
for col in numerical_cols:
    print(f"{col}: {project_df[col].dtype}")

=== DATA TYPES VERIFICATION ===
Country                        object
Year                            int64
GDP_per_capita                float64
Female_Labor_Participation    float64
Male_Labor_Participation      float64
Female_Tertiary_Education     float64
Male_Tertiary_Education       float64
dtype: object

=== COUNTRY DATA TYPE ===
Country dtype: object
Sample countries: ['Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Costa Rica' 'Cuba'
 'Dominican Republic' 'Ecuador' 'El Salvador']

=== YEAR DATA TYPE ===
Year dtype: int64
Year sample values: [np.int64(1995), np.int64(1996), np.int64(1997), np.int64(1998), np.int64(1999)]

=== NUMERICAL COLUMNS VERIFICATION ===
GDP_per_capita: float64
Female_Labor_Participation: float64
Male_Labor_Participation: float64
Female_Tertiary_Education: float64
Male_Tertiary_Education: float64

In [8]:
# --- STEP 4: Calculiting and add new variables ---

# Calculate gender gaps for education and labor participation
print("=== CALCULATING GENDER GAPS ===")

# 1. Calculate education gap (Female - Male)
project_df['education_gap'] = project_df['Female_Tertiary_Education'] - project_df['Male_Tertiary_Education']

# 2. Calculate labor participation gap (Female - Male)
project_df['labor_participation_gap'] = project_df['Female_Labor_Participation'] - project_df['Male_Labor_Participation']

# 3. Display summary statistics of the gaps
print("EDUCATION GAP SUMMARY (Female - Male):")
print(f"Positive values = Women ahead | Negative values = Men ahead")
print(project_df['education_gap'].describe())

print("\nLABOR PARTICIPATION GAP SUMMARY (Female - Male):")
print(f"Positive values = Women ahead | Negative values = Men ahead")
print(project_df['labor_participation_gap'].describe())

# 4. Show countries with largest gaps
print("\nCOUNTRIES WITH LARGEST EDUCATION GAPS (Women ahead):")
top_edu_gap = project_df.nlargest(5, 'education_gap')[['Country', 'Year', 'education_gap']]
print(top_edu_gap)

print("\nCOUNTRIES WITH LARGEST LABOR GAPS (Men ahead):")
top_labor_gap = project_df.nsmallest(5, 'labor_participation_gap')[['Country', 'Year', 'labor_participation_gap']]
print(top_labor_gap)

=== CALCULATING GENDER GAPS ===
EDUCATION GAP SUMMARY (Female - Male):
Positive values = Women ahead | Negative values = Men ahead
count    660.000000
mean      10.009066
std        5.751238
min        0.014337
25%        4.927772
50%        9.746201
75%       15.126432
max       19.988275
Name: education_gap, dtype: float64

LABOR PARTICIPATION GAP SUMMARY (Female - Male):
Positive values = Women ahead | Negative values = Men ahead
count    660.000000
mean     -15.501659
std        2.904532
min      -20.992784
25%      -17.783903
50%      -15.778424
75%      -13.418898
max       -9.202450
Name: labor_participation_gap, dtype: float64

COUNTRIES WITH LARGEST EDUCATION GAPS (Women ahead):
         Country  Year  education_gap
120     Colombia  1995      19.988275
568    Venezuela  2023      19.984146
109        Chile  2014      19.926678
489         Peru  2004      19.924490
284  El Salvador  2009      19.923153

COUNTRIES WITH LARGEST LABOR GAPS (Men ahead):
       Country  Year  labor_participation_gap
554  Venezuela  2009               -20.992784
558  Venezuela  2013               -20.932139
477   Paraguay  2022               -20.737981
551  Venezuela  2006               -20.596845
453   Paraguay  1998               -20.569945

In [9]:
# Create Region column based on country classification
def assign_region(country):
    south_america = ["Argentina", "Bolivia", "Brazil", "Chile", "Colombia",
                    "Ecuador", "Paraguay", "Peru", "Uruguay", "Venezuela"]
    central_america = ["Costa Rica", "El Salvador", "Guatemala", "Honduras",
                      "Nicaragua", "Panama", "Belize"]
    caribbean = ["Cuba", "Dominican Republic", "Haiti", "Jamaica",
                "Puerto Rico", "Trinidad and Tobago"]
    mexico = ["Mexico"]

    if country in south_america:
        return "South America"
    elif country in central_america:
        return "Central America"
    elif country in caribbean:
        return "Caribbean"
    elif country in mexico:
        return "Mexico"
    else:
        return "Other Region"

# Apply the region classification
project_df['Region'] = project_df['Country'].apply(assign_region)

# Verify the region distribution
print("=== REGION DISTRIBUTION ===")
region_counts = project_df['Region'].value_counts()
print(region_counts)

print(f"\nTotal countries per region:")
for region in project_df['Region'].unique():
    countries_in_region = project_df[project_df['Region'] == region]['Country'].unique()
    print(f"{region}: {len(countries_in_region)} countries - {list(countries_in_region)}")

=== REGION DISTRIBUTION ===
Region
South America      300
Central America    180
Caribbean          150
Mexico              30
Name: count, dtype: int64

Total countries per region:
South America: 10 countries - ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela']
Central America: 6 countries - ['Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']
Caribbean: 5 countries - ['Cuba', 'Dominican Republic', 'Haiti', 'Jamaica', 'Trinidad and Tobago']
Mexico: 1 countries - ['Mexico']

In [11]:
# Research a negative value
print("=== INVESTIGATING NEGATIVE MALE EDUCATION VALUE ===")

# Find the negative value we saw in the statistics
negative_education = project_df[project_df['Male_Tertiary_Education'] < 0]
print("Records with negative male tertiary education:")
print(negative_education[['Country', 'Year', 'Male_Tertiary_Education', 'Female_Tertiary_Education', 'education_gap']])

# Also check if there are any other data quality issues
print("\n=== CHECKING FOR OTHER DATA ANOMALIES ===")

# Check for impossible values in percentages (should be 0-100)
print("Values outside realistic ranges (0-100%):")
for col in ['Female_Tertiary_Education', 'Male_Tertiary_Education',
            'Female_Labor_Participation', 'Male_Labor_Participation']:
    outliers_high = project_df[project_df[col] > 100]
    outliers_low = project_df[project_df[col] < 0]
    print(f"{col}: >100%: {len(outliers_high)}, <0%: {len(outliers_low)}")

    if len(outliers_low) > 0:
        print(f"  Low outliers: {outliers_low[['Country', 'Year', col]].values}")

=== INVESTIGATING NEGATIVE MALE EDUCATION VALUE ===
Records with negative male tertiary education:
                 Country  Year  Male_Tertiary_Education  \
5              Argentina  2000                -1.468616
14             Argentina  2009                -2.820196
19             Argentina  2014                -1.693648
36               Bolivia  2001                -5.490906
47               Bolivia  2012                -1.178078
86                Brazil  2021                -6.430563
88                Brazil  2023                -8.860751
115                Chile  2020                -2.894469
149             Colombia  2024                -8.524604
151           Costa Rica  1996                -7.272214
183                 Cuba  1998                -2.696849
200                 Cuba  2015                -1.644060
231   Dominican Republic  2016                -2.444940
251              Ecuador  2006                -2.872560
264              Ecuador  2019                -3.294547
269              Ecuador  2024                -4.275186
275          El Salvador  2000                -4.198328
371               Mexico  2006                -3.199314
380               Mexico  2015                -6.105072
392            Nicaragua  1997                -1.507008
393            Nicaragua  1998                -6.868497
395            Nicaragua  2000                -2.736211
402            Nicaragua  2007                -3.728022
420               Panama  1995                -1.129247
422               Panama  1997                -1.880363
427               Panama  2002                -1.441433
442               Panama  2017                -6.706391
445               Panama  2020                -4.712137
463             Paraguay  2008                -0.206854
465             Paraguay  2010                -0.266777
476             Paraguay  2021                -2.139717
512              Uruguay  1997                -4.436898
526              Uruguay  2011                -1.664561
538              Uruguay  2023                -4.783872
603              Jamaica  1998                -4.596651
642  Trinidad and Tobago  2007                -2.584066

     Female_Tertiary_Education  education_gap
5                    15.793453      17.262069
14                   15.673676      18.493872
19                   11.215798      12.909446
36                   14.241886      19.732792
47                   17.353674      18.531753
86                   11.063471      17.494033
88                   10.893697      19.754448
115                  11.833571      14.728040
149                  10.605424      19.130028
151                  12.097561      19.369776
183                  12.101234      14.798082
200                  11.272388      12.916448
231                  16.713743      19.158682
251                  10.607839      13.480398
264                  13.200317      16.494865
269                  10.099607      14.374792
275                  13.348681      17.547009
371                  10.209372      13.408687
380                  11.128226      17.233298
392                  15.270069      16.777077
393                  12.359835      19.228332
395                  16.918580      19.654791
402                  15.340035      19.068058
420                  14.406722      15.535969
422                  12.641334      14.521697
427                  15.308018      16.749450
442                  12.730515      19.436906
445                  10.525661      15.237798
463                  15.310691      15.517545
465                  17.275774      17.542551
476                  12.810695      14.950413
512                  12.613955      17.050853
526                  17.830641      19.495202
538                  12.988114      17.771986
603                  12.598305      17.194956
642                  13.662280      16.246347

=== CHECKING FOR OTHER DATA ANOMALIES ===
Values outside realistic ranges (0-100%):
Female_Tertiary_Education: >100%: 0, <0%: 0
Male_Tertiary_Education: >100%: 0, <0%: 36
  Low outliers: [['Argentina' 2000 -1.468615541255385]
 ['Argentina' 2009 -2.820196303541803]
 ['Argentina' 2014 -1.693647596570665]
 ['Bolivia' 2001 -5.490905865763912]
 ['Bolivia' 2012 -1.178078456777992]
 ['Brazil' 2021 -6.430562911164634]
 ['Brazil' 2023 -8.860751058049939]
 ['Chile' 2020 -2.894468954635661]
 ['Colombia' 2024 -8.524604204245229]
 ['Costa Rica' 1996 -7.272214380305865]
 ['Cuba' 1998 -2.696848656768342]
 ['Cuba' 2015 -1.644059730442143]
 ['Dominican Republic' 2016 -2.444939876021635]
 ['Ecuador' 2006 -2.872559807306512]
 ['Ecuador' 2019 -3.294547416509106]
 ['Ecuador' 2024 -4.275185596117092]
 ['El Salvador' 2000 -4.198328461393197]
 ['Mexico' 2006 -3.199314494540458]
 ['Mexico' 2015 -6.105072108714658]
 ['Nicaragua' 1997 -1.507008368258262]
 ['Nicaragua' 1998 -6.86849730797204]
 ['Nicaragua' 2000 -2.736211082179889]
 ['Nicaragua' 2007 -3.728022387523717]
 ['Panama' 1995 -1.129247195338039]
 ['Panama' 1997 -1.880362711440911]
 ['Panama' 2002 -1.441432715002129]
 ['Panama' 2017 -6.706390865836241]
 ['Panama' 2020 -4.712136660467007]
 ['Paraguay' 2008 -0.2068537099710497]
 ['Paraguay' 2010 -0.266777098602077]
 ['Paraguay' 2021 -2.139717461936174]
 ['Uruguay' 1997 -4.436897734072026]
 ['Uruguay' 2011 -1.664560882091411]
 ['Uruguay' 2023 -4.783871899823826]
 ['Jamaica' 1998 -4.596651207142326]
 ['Trinidad and Tobago' 2007 -2.584066448912871]]
Female_Labor_Participation: >100%: 0, <0%: 0
Male_Labor_Participation: >100%: 0, <0%: 0

In [13]:
# --- STEP 5: Manage outliers data ---
# Cap negative values at 0%
clean_df = project_df.copy()
clean_df['Male_Tertiary_Education'] = clean_df['Male_Tertiary_Education'].clip(lower=0)
clean_df['education_gap'] = clean_df['Female_Tertiary_Education'] - clean_df['Male_Tertiary_Education']

In [14]:
# Verify the correction was successful
print("=== VALIDATION OF DATA CORRECTION ===")

# 1. Check that no negative values remain in education columns
print("1. CHECKING FOR NEGATIVE VALUES:")
print(f"Male_Tertiary_Education < 0: {(clean_df['Male_Tertiary_Education'] < 0).sum()} records")
print(f"Female_Tertiary_Education < 0: {(clean_df['Female_Tertiary_Education'] < 0).sum()} records")

# 2. Verify the range of values is now realistic (0-100%)
print("\n2. CHECKING VALUE RANGES:")
print("Male_Tertiary_Education range:", clean_df['Male_Tertiary_Education'].min(), "-", clean_df['Male_Tertiary_Education'].max())
print("Female_Tertiary_Education range:", clean_df['Female_Tertiary_Education'].min(), "-", clean_df['Female_Tertiary_Education'].max())

# 3. Check that education gap is still positive (women ahead)
print("\n3. VERIFYING EDUCATION GAP:")
print(f"Education gap range: {clean_df['education_gap'].min():.2f} - {clean_df['education_gap'].max():.2f}")
print(f"Education gap mean: {clean_df['education_gap'].mean():.2f}")

# 4. Verify we still have all 660 records
print(f"\n4. DATASET SIZE:")
print(f"Total records: {len(clean_df)}")
print(f"Countries: {clean_df['Country'].nunique()}")
print(f"Years: {clean_df['Year'].min()} - {clean_df['Year'].max()}")

# 5. Show sample of previously problematic records that are now fixed
print("\n5. SAMPLE OF CORRECTED RECORDS:")
previously_negative = project_df[project_df['Male_Tertiary_Education'] < 0]
corrected_records = clean_df[clean_df['Country'].isin(previously_negative['Country'].unique())].head(3)
print(corrected_records[['Country', 'Year', 'Male_Tertiary_Education', 'Female_Tertiary_Education', 'education_gap']])

=== VALIDATION OF DATA CORRECTION ===
1. CHECKING FOR NEGATIVE VALUES:
Male_Tertiary_Education < 0: 0 records
Female_Tertiary_Education < 0: 0 records

2. CHECKING VALUE RANGES:
Male_Tertiary_Education range: 0.0 - 57.40342083152833
Female_Tertiary_Education range: 10.09960676095351 - 59.97788516252193

3. VERIFYING EDUCATION GAP:
Education gap range: 0.01 - 19.99
Education gap mean: 9.81

4. DATASET SIZE:
Total records: 660
Countries: 22
Years: 1995 - 2024

5. SAMPLE OF CORRECTED RECORDS:
     Country  Year  Male_Tertiary_Education  Female_Tertiary_Education  \
0  Argentina  1995                16.980456                  20.616956
1  Argentina  1996                19.196692                  28.318092
2  Argentina  1997                44.327592                  50.419867

   education_gap
0       3.636499
1       9.121400
2       6.092275

In [17]:
# Export the cleaned dataset for Looker Studio
output_filename = "The_Paradox_of_Female_Education_Dashboard.csv"

# Save to CSV
clean_df.to_csv(output_filename, index=False)

# Verify the export
print("=== EXPORT VERIFICATION ===")
print(f"File saved as: {output_filename}")
print(f"File size: {len(clean_df)} records")
print(f"Columns exported: {list(clean_df.columns)}")

# Display final dataset info
print("\n=== FINAL DATASET SUMMARY ===")
print(f"• Countries: {clean_df['Country'].nunique()}")
print(f"• Time period: {clean_df['Year'].min()}-{clean_df['Year'].max()}")
print(f"• Key metrics ready:")
print(f"  - Education gap: {clean_df['education_gap'].mean():.1f}% (women ahead)")
print(f"  - Labor gap: {clean_df['labor_participation_gap'].mean():.1f}% (men ahead)")
print(f"  - Regions: {clean_df['Region'].nunique()} regions defined")

print(f"\n 'The Paradox of Female Education' dataset ready for dashboard!")

=== EXPORT VERIFICATION ===
File saved as: The_Paradox_of_Female_Education_Dashboard.csv
File size: 660 records
Columns exported: ['Country', 'Year', 'GDP_per_capita', 'Female_Labor_Participation', 'Male_Labor_Participation', 'Female_Tertiary_Education', 'Male_Tertiary_Education', 'education_gap', 'labor_participation_gap', 'Region']

=== FINAL DATASET SUMMARY ===
• Countries: 22
• Time period: 1995-2024
• Key metrics ready:
  - Education gap: 9.8% (women ahead)
  - Labor gap: -15.5% (men ahead)
  - Regions: 4 regions defined

 'The Paradox of Female Education' dataset ready for dashboard!

In [18]:
# Download the CSV file to your computer
from google.colab import files
files.download('The_Paradox_of_Female_Education_Dashboard.csv')